<meta charset="utf-8">

<header>
	<div class="icon">
		<a href="accueil"></a>
	</div>
	<div class="name">
		<h2>Administration</h2>
	</div>
	<ul class="social">
		<li class="youtube"><a
			href="https://www.youtube.com/channel/UCN7jOduD5PtNRKHY5dbo-mA"
			title="Visitez nous sur youtube" target="_blank"></a></li>
		<li class="facebook"><a
			href="https://www.facebook.com/Perla-Agriculture-290894924949928/"
			title="Visitez nous sur facebook" target="_blank"></a></li>
	</ul>
	<div class="search">
		<form action="">
			<input type="text" placeholder="CHERCHER..."> <input
				type="submit">
		</form>
	</div>
	<ul class="nav">
		<li><a href="aFaire">arabe<img src="images/arabe.png"
				width="30px" height="15px"></a></li>
		<li><a href="aFaire"><img src="images/francais.jpg"
				width="30px" height="15px">Francais</a></li>
	</ul>

	<div id="menu">
		<ul>
			<li><a href="admin">Carousel</a></li>
			<li><a href="adminaccueil">Accueil</a></li>
			<li><a href="adminapropos">Qui Somme nous?</a></li>
			<li><a href="contact">Contactez nous</a></li>
		</ul>
	</div>
</header>