<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:replace="header"></th:block>
<meta charset="utf-8">
<script th:inline="javascript">
var message = [[${imagePage.totalPages}]];
var pagenumber = [[${imagePage.number}]];
$(function () {
    window.pagObj = $('#pagination').twbsPagination({
        totalPages: message,
        visiblePages: 5,
        startPage: pagenumber+1,
        onPageClick: function (event, page) {
            console.info(page + ' (from options)');
        }
    }).on('page', function (event, page) {
        console.info(page + ' (from event listening)');
    	location.href = "/adminapropos?page="+page;
    });
});
</script>
</head>
<body id="perla">
	<div class="page">
		<th:block th:replace="admin/adminnav"></th:block>
		<div th:if="${message != null}">

			<div class="alert alert-warning alert-dismissible fade show"
				role="alert">
				<span th:text="${message}"></span>
				<button type="button" class="close" data-dismiss="alert"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
		</div>
		<div class="gallery-block cards-gallery">
			<div class="row">
				<div class="col-sm-6" style="border-right: 1px; border: thin;">
					<div class="card border-0">
						<div class="contact-rich">
							<h4>Image Principale</h4>
						</div>
						<div class="embed-responsive embed-responsive-16by9">
							<img alt="Image"
								th:src="@{adminapropos/}+ ${imagePrincipal.path}"
								class="card-img-top embed-responsive-item" />

							<button type="button" class="btn btn-danger profilebutton"
								data-toggle="modal" data-target="#formModal"
								th:attr="data-target='#formModal'+${imagePrincipal.id }">Modifier</button>
							<div class="modal fade" th:id="formModal+${imagePrincipal.id }">
								<div class="modal-dialog">
									<div class="modal-content">
										<!-- Modal Header -->
										<div class="modal-header">
											<h4 class="modal-title">Modifier l'image principal?</h4>
											<button type="button" class="close" data-dismiss="modal">&times;</button>
										</div>
										<div class="modal-body">
											<div class="contact">
												<form
													th:action="@{'/adminapropos/update/' + ${imagePrincipal.id}}"
													th:object="${image}" method="post"
													enctype="multipart/form-data">
													<fieldset>
														<input type="file" class="form-control-file" name="file"
															required> <br>
													</fieldset>
													<input type="submit" value="Modifier" />
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
				<div class="col-sm-6 contact">
					<form th:action="@{/adminapropos}" th:object="${image}"
						method="post" enctype="multipart/form-data">
						<fieldset>
							<div class="contact-rich">
								<h4>Ajouter des images</h4>
							</div>
							<input type="file" class="form-control-file" name="file" multiple
								required> <br>
						</fieldset>
						<input type="submit" value="Ajouter" />
					</form>
				</div>
			</div>

			<h4>Liste des images</h4>

			<div class="gallery-block cards-gallery">
				<div class="row">
					<div class="col-md-6 col-lg-4"
						th:each="image, iStat : ${imagePage.content}">
						<div class="card border-0 ">
							<div class="embed-responsive embed-responsive-16by9">
								<img alt="picture" th:src="@{adminapropos/}+ ${image.path}"
									class="card-img-top embed-responsive-item" />
								<button type="button" class="btn btn-danger profilebutton"
									data-toggle="modal" data-target="#myModal"
									th:attr="data-target='#myModal'+${image.id }">Supprimer</button>
								<div class="modal fade" th:id="myModal+${image.id }">
									<div class="modal-dialog">
										<div class="modal-content">
											<!-- Modal Header -->
											<div class="modal-header">
												<h4 class="modal-title">Supprimer l'image?</h4>
												<button type="button" class="close" data-dismiss="modal">&times;</button>
											</div>
											<!-- Modal footer -->
											<div class="modal-footer">
												<button type="button" class="btn btn-danger"
													data-dismiss="modal">Non</button>
												<a th:href="@{'/adminapropos/remove/' + ${image.id}}"><button
														type="button" class="btn btn-success">Oui</button></a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<nav aria-label="Page navigation example" style="float: right;">
				<ul class="pagination pg-blue" id="pagination">
					<li class="page-item"
						th:classappend="${pageNumber==imagePage.number + 1} ? active"></li>
				</ul>
			</nav>
		</div>
		<th:block th:replace="footer"></th:block>
	</div>
</body>
</html>