<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<th:block th:replace="header"></th:block>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
</head>
<body>

	<div class="page">

		<th:block th:replace="nav"></th:block>
		<img src="images/s1.jpg" width="938px" height="290px"> <br>
		<h2 class="headline">a faire</h2>

		<th:block th:replace="footer"></th:block>
	</div>
	<!--end page-->
</body>
</html>