<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:replace="header"></th:block>
<meta charset="utf-8">
</head>
<body id="perla">
	<div class="page">

		<th:block th:replace="nav"></th:block>
		<img th:src="@{adminapropos/}+ ${imagePrincipal.path}" width="100%" height="290px">

		<h2 class="headline">Qui somme nous ?</h2>

		<h2>Société Perla Agriculture</h2>
		<p style="text-align: justify; padding: 10px 40px 10px 20px;">
			La société Perla Agriculture propose à leurs clients (entrepreneurs,
			agriculteurs ) l'assistance, le suivi technique, le conseil et
			l'accompagnement, pour valoriser, promouvoir et développer leurs
			projets agricoles installés ou à installer. Grâce à une équipe
			d’ingénieurs dotée d’une grande expérience professionnelles et une
			grande référence dans le métier du conseil agricole, notre société
			assure à ses clients des services sur mesure, basée sur une profonde
			compréhension pour mettre en œuvre des solutions spécifiques et
			efficientes à leurs différents besoins.<br> <b><i>« La
					condition naturelle à l'homme est de cultiver la terre et de vivre
					de ses fruits ». Jean-Jacques Rousseau.<br> « La richesse d'un
					champ, c'est l'époque où il est travaillé ». Ankh-Sheshonq.
			</i></b>
		</p>
		<div class="gallery-block cards-gallery">
			<div class="row">
				<div class="col-md-6 col-lg-4" th:each="image : ${aproposlist}">
					<div class="card border-0">
						<div class="embed-responsive embed-responsive-16by9">
							<img alt="picture" th:src="@{adminapropos/}+ ${image.path}"
								class="card-img-top embed-responsive-item">
						</div>
					</div>
				</div>
			</div>
		</div>
		<th:block th:replace="footer"></th:block>
	</div>
</body>
</html>