<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<th:block th:replace="header"></th:block>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
</head>
<body id="perla">

	<div class="page">
		<th:block th:replace="nav"></th:block>
								<div id="menu">
			<ul>
				<li><a href="accueil" >Accueil</a></li>
				<li><a href="apropos" >Qui somme nous?</a></li>
				<li><a href="services" >Nos services</a></li>
				<li><a href="contact" class="active">Contactez nous</a></li>
			</ul>
		</div>
		<img th:src="@{adminaccueil/}+ ${imagePrincipal.path}" width="100%"
			height="290px">
		<h2 class="headline">Contact</h2>

		<div class="gallery-block cards-gallery">
			<div class="row">
				<div class="col-sm-4" style="border-right: 1px; border: thin;">
					<div class="card border-0">
						<div class="card-body" style="min-height: 100%;">
							<div class="contact-rich">
								<h4>INFORMATIONS</h4>
							</div>
							<i class="material-icons">place</i>
							<div class="data">
								Société Perla Agriculture <br> Cité olympique <br>
								Immeuble Missaoui 5ème étage <br> Kasserine 1200
							</div>
							<hr />
							<i class="material-icons">&#xE0CD;</i>
							<div class="data">
								Appelez-nous :<br /> <a href="tel:+216 77 478 689">+216 77
									478 689</a> <br />+216 98 723 301<br />+216 93 445 747<br />+216
								27 027 652
							</div>

							<hr />
							<i class="material-icons">&#xE158;</i>
							<div class="data">perlaagriculture@gmail.com</div>

							<hr />
							<br> <br> <br> <br> <br> <br> <br>
						</div>
					</div>
				</div>
				<div class="col-sm-8 contact">
					<form th:action="@{contact}" th:object="${contact}" method="post">
						<fieldset>
							<div class="contact-rich">
								<h4>Contactez nous</h4>
							</div>
							<input type="text" th:field="*{nom}" placeholder="Nom *">
							<input type="text" th:field="*{prenom}" placeholder="Prenom *">
							<input type="tel" th:field="*{tel}" placeholder="Telephone *">
							<input type="email" th:field="*{email}" placeholder="Email *">
							<textarea th:field="*{message}" placeholder="Message"></textarea>
						</fieldset>
						<input type="submit" value="Envoyer" />
					</form>
				</div>
			</div>
			<br>
			<div class="z-depth-1-half map-container">
				<iframe width="100%" height="500"
					src="https://maps.google.com/maps?q=35.17104%2C8.805321&t=&z=15&ie=UTF8&iwloc=&output=embed"></iframe>
			</div>

		</div>
		<th:block th:replace="footer"></th:block>
	</div>
	<!--end page-->
</body>
</html>