<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cards Gallery</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css" />
    <link rel="stylesheet" href="/css/cards-gallery.css">
</head>
<body>
	<section class="gallery-block cards-gallery">
		<div class="container">
			<div class="heading">
				<h2>Cards Gallery</h2>
			</div>
			<div class="row">
				<div class="col-md-6 col-lg-4">
					<div class="card border-0 transform-on-hover">
						<a
							href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(117).jpg"
							data-size="1600x1067"> <img alt="picture"
							src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(117).jpg"
							class="card-img-top">
						</a>
						<div class="card-body">
							<h6>
								<a href="#">Titre de l'image</a>
							</h6>
							<p class="text-muted card-text">Description.</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div class="card border-0 transform-on-hover">
						<a
							href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(131).jpg"
							data-size="1600x1067"> <img alt="picture"
							src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(131).jpg"
							class="card-img-top" />
						</a>
						<div class="card-body">
							<h6>
								<a href="#">Titre de l'image</a>
							</h6>
							<p class="text-muted card-text">Description.</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div class="card border-0 transform-on-hover">
						<a
							href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(123).jpg"
							data-size="1600x1067"> <img alt="picture"
							src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(123).jpg"
							class="card-img-top" />

						</a>
						<div class="card-body">
							<h6>
								<a href="#">Titre de l'image</a>
							</h6>
							<p class="text-muted card-text">Description.</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div class="card border-0 transform-on-hover">
						<a
							href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(118).jpg"
							data-size="1600x1067"> <img alt="picture"
							src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(118).jpg"
							class="card-img-top" />
						</a>
						<div class="card-body">
							<h6>
								<a href="#">Titre de l'image</a>
							</h6>
							<p class="text-muted card-text">Description.</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div class="card border-0 transform-on-hover">
						<a
							href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(128).jpg"
							data-size="1600x1067"> <img alt="picture"
							src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(128).jpg"
							class="card-img-top" />
						</a>
						<div class="card-body">
							<h6>
								<a href="#">Titre de l'image</a>
							</h6>
							<p class="text-muted card-text">Description.</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4">
					<div class="card border-0 transform-on-hover">
						<a
							href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(132).jpg"
							data-size="1600x1067"> <img alt="picture"
							src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(132).jpg"
							class="card-img-top" />
						</a>
						<div class="card-body">
							<h6>
								<a href="#">Titre de l'image</a>
							</h6>
							<p class="text-muted card-text">Description.</p>
						</div>
					</div>
				</div>
			</div>



		</div>
	</section>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
	<script>
		baguetteBox.run('.cards-gallery', {
			animation : 'slideIn'
		});
	</script>
</body>
</html>