<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<th:block th:replace="/template/header2"></th:block>
</head>
<body>

	<div class="page">
		<th:block th:replace="/template/nav2"></th:block>
		<img src="/images/s1.jpg" width="940px" height="290px">

		<h2 class="headline">Nos services</h2>

		<div class="gallery-block cards-gallery">
			<div class="row">
				<div class="col-sm-6">
					<div class="card border-0">
						<div class="card-body">
							<h6>Assistance et suivi technique</h6>
							<ul class="text-muted card-text">
								<li>Programme d'irrigation</li>
								<li>Programme de fertilisation</li>
								<li>Programme de traitement phytosanitaire</li>
								<li>Contrôle budgétaire des coûts de production</li>
								<li>Assister les opérations de taille
									<ul>
										<li>Taille d'hiver</li>
										<li>Taille en vert</li>
									</ul>
								</li>
							</ul>
							<div class="row">
								<div class="col-sm-6">
									<a
										href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(123).jpg"
										data-size="1600x1067"> <img alt="picture"
										src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(123).jpg"
										class="card-img-top" />

									</a>
								</div>
								<div class="col-sm-6">
									<a
										href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(123).jpg"
										data-size="1600x1067"> <img alt="picture"
										src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(123).jpg"
										class="card-img-top" />

									</a>
								</div>
							</div>
						</div>
						<p>
							<a href="" class="readmore">Voir plus</a>
						</p>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="card border-0">
						<div class="card-body">
							<h6>Accompagnement</h6>
							<ul class="text-muted card-text">
								<li>Accompagnement et assistance des entrepreneurs dans les
									projets agricoles</li>
								<li>Accompagnement en mode COACHING grace à des
									accompagnateurs agrées par l'APIA</li>
							</ul>
							<div class="row">
								<div class="col-sm-6">
									<a
										href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(123).jpg"
										data-size="1600x1067"> <img alt="picture"
										src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(123).jpg"
										class="card-img-top" />

									</a>
								</div>
								<div class="col-sm-6">
									<a
										href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(123).jpg"
										data-size="1600x1067"> <img alt="picture"
										src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(123).jpg"
										class="card-img-top" />

									</a>
								</div>
							</div>
						</div>
						<p>
							<a href="" class="readmore">Voir plus</a>
						</p>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="card border-0">
						<div class="card-body">
							<h6>Des solutions clé en main</h6>
							<ul class="text-muted card-text">
								<li>Préparation du sol</li>
								<li>Tracage et paquetage des terrains agricoles</li>
								<li>Installation des réseaux d'irrigation</li>
								<li>Installation des stations de fertilisation</li>
								<li>Plantation</li>
							</ul>
							<div class="row">
								<div class="col-sm-6">
									<a
										href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(123).jpg"
										data-size="1600x1067"> <img alt="picture"
										src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(123).jpg"
										class="card-img-top" />

									</a>
								</div>
								<div class="col-sm-6">
									<a
										href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(123).jpg"
										data-size="1600x1067"> <img alt="picture"
										src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(123).jpg"
										class="card-img-top" />

									</a>
								</div>
							</div>
						</div>
						<p>
							<a href="" class="readmore">Voir plus</a>
						</p>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="card border-0">
						<div class="card-body">
							<h6>Autres services</h6>
							<ul class="text-muted card-text">
								<li>Aide à la commercialisation des produits de la récolte</li>
								<li>Achat et vente des terrains agricoles</li>
								<li>Location du matériel agricole
									<ul>
										<li>Broyeur</li>
										<li>Atomiseur (ddddd)</li>
										<li>dddddddddd</li>
									</ul>
								</li>
							</ul>
							<div class="row">
								<div class="col-sm-6">
									<a
										href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(123).jpg"
										data-size="1600x1067"> <img alt="picture"
										src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(123).jpg"
										class="card-img-top" />

									</a>
								</div>
								<div class="col-sm-6">
									<a
										href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(123).jpg"
										data-size="1600x1067"> <img alt="picture"
										src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(123).jpg"
										class="card-img-top" />

									</a>
								</div>
							</div>
						</div>
						<p>
							<a href="" class="readmore">Voir plus</a>
						</p>
					</div>
				</div>
			</div>
		</div>

		<th:block th:replace="/template/footer2"></th:block>

	</div>
	<!--end page-->
</body>
</html>