body {
	font: 12px/20px "Arial", Helvetica, sans-serif;
	color: #464646;
	background: #f8f8f8;
	padding-bottom: 60px;
	overflow: visible !important
}

.page {
	width: 960px;
	overflow: hidden;
	padding: 10px;
	margin: 30px auto 0 auto;
	box-shadow: rgba(0, 0, 0, 0.10) 0px 0px 10px;
	border: 1px solid #c6c7C8;
	background: #fff;
	-moz-box-shadow: rgba(0, 0, 0, 0.10) 0px 0px 10px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.10) 0px 0px 10px
}

.contact form {
	padding: 10px 20px;
	background: #f4f7f8;
	padding: 20px;
	background: #f4f7f8;
	border-radius: 8px;
	font-family: Georgia, "Times New Roman", Times, serif;
}

.contact form fieldset {
	border: none;
}

.contact form legend {
	font-size: 1.4em;
}

.contact form input[type="text"], form input[type="email"], form input[type="tel"],
	form textarea {
	font-family: Georgia, "Times New Roman", Times, serif;
	background: rgba(255, 255, 255, .1);
	border: none;
	border-radius: 4px;
	font-size: 15px;
	margin: 0;
	outline: 0;
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	background-color: #e8eeef;
	color: #8a97a0;
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
	margin-bottom: 30px;
}

.contact form input[type="text"]:focus, form input[type="email"]:focus, form input[type="tel"]:focus,
	form textarea:focus {
	background: #d2d9dd;
}

.contact form input[type="submit"] {
	position: relative;
	display: block;
	padding: 19px 39px 18px 39px;
	color: #FFF;
	margin: 0 auto;
	background: #1abc9c;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	width: 100%;
	border: 1px solid #16a085;
	border-width: 1px 1px 3px;
	margin-bottom: 10px;
}

.contact form input[type="submit"]:hover {
	background: #109177;
}