header {
	position: relative;
	padding-top: 10px;
}

.icon {
	width: 100px;
	height: 90px;
	float: left;
}

.icon a {
	display: block;
	background: url(../images/spa.png) 0 0 no-repeat;
	background-size: 100px 90px;
	width: 100px;
	height: 90px;
	text-indent: -9999px;
	float: left;
	padding-bottom: 10px;
}


.name{
	width:400px;
	float: left;
	padding-left: 40px;
	padding-top: 40px;
	color: green;
	
}

.name .red{
	color: #D41616;
}

header ul, header li {
	list-style: none;
	list-style-image: none
}

.social {
	height: 20px;
	padding: 20px 15px 0 0;
	float: right;
}

.social li {
	float: left;
	margin-left: 10px;
}

.social li.facebook a {
	width: 59px;
	height: 20px;
	display: block;
	background: url(../images/facebook.jpg) 0 0 no-repeat
}

.social li.youtube a {
	width: 48px;
	height: 20px;
	display: block;
	background: url(../images/youtube.jpg) 0 0 no-repeat
}

.search {
	clear: right;
	float: right;
	width: 160px;
	padding: 10px 10px 0 0
}

.search form {
	position: relative;
}

.search form input[type="text"] {
	border: 1px solid #c6c7C8;
	line-height: 24px;
	width: 150px;
	font-size: 11px;
	height: 22px;
	padding: 0 4px
}

.search form input[type="submit"] {
	position: absolute;
	top: 0;
	right: 5px;
	border: none;
	width: 24px;
	height: 24px;
	line-height: 1%;
	text-indent: -9999px;
	background: url(../images/search.png) 12px 7px no-repeat;
}

.nav {
	text-align: right;
	padding: 10px 10px 0 0;
	float: right;
}

.nav li {
	display: inline-block;
	padding: 5px 10px;
	font-size: 11px;
	text-transform: uppercase
}

.nav li a {
	color: #777;
	text-decoration: none
}

.nav li a:hover {
	color: #009ee0
}

.nav li.language {
	border-right: none;
	color: #777;
	position: relative;
	z-index: 52
}

.nav li.language ul {
	padding: 10px;
	z-index: 52;
	display: none;
	position: absolute;
	top: 30px;
	left: 0;
	min-width: 100px;
	background: #f8f8f8 url(../images/bg-nav-sub.jpg) 0 bottom repeat-x;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 3px;
	text-align: left;
	-moz-box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 3px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 3px
}

.nav li.language ul li {
	display: block;
	background: none;
	padding: 0;
	line-height: 20px
}

.nav li.language ul li a {
	padding-left: 10px;
}

.nav li.language:hover {
	background: #f8f8f8;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 3px;
	color: #009ee0;
	cursor: pointer;
	-moz-box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 3px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 3px
}

.nav li.language:hover ul {
	display: block
}

#menu {
	clear: both;
	top: 10px;
	margin-top: 100px;
	position: relative;
	z-index: 51;
	height: 50px;
	width: 100%;
	position: relative;
}

#menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: #8fc800; /* Old browsers */
	background: -moz-linear-gradient(top, #8fc800 0%, #8fc800 40%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(top, #8fc800 0%, #8fc800 40%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #8fc800 0%, #8fc800 40%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	background: linear-gradient(green 0%,, green 75%, green 100%);
	background: -moz-linear-gradient(top, #8fc800 0%, #8fc800 40%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(top, #8fc800 0%, #8fc800 40%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #8fc800 0%, #8fc800 40%);
}

#menu ul li {
	float: left;
}

/* On screens that are 768px or less (smartphones) */
@media only screen and (max-width: 500px) {
	#menu ul li a {
		font-size: 11px;
		font-family: "Open Sans", sans-serif;
		font-weight: bold;
		text-transform: uppercase;
		display: inline-block;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
	}
}

@media only screen and (max-width: 600px) {
	#menu ul li a {
		font-size: 11px;
	}
}

@media only screen and (min-width: 600px) {
	#menu ul li a {
		font-size: 13px;
	}
}

@media only screen and (min-width: 100px) {
	#menu ul li a {
		font-family: "Open Sans", sans-serif;
		font-weight: bold;
		text-transform: uppercase;
		display: inline-block;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
	}
}

#menu ul li a:hover, .dropdown:hover .dropbtn {
	background-color: #009ee0;
}

#menu ul li a:active {
	background-color: #009ee0;
}

#menu ul li.dropdown {
	display: inline-block;
}

.vertical-menu {
	height: 100%;
}

.vertical-menu a {
	background-color: #eee; /* Grey background color */
	color: black; /* Black text color */
	display: block; /* Make the links appear below each other */
	padding: 12px; /* Add some padding */
	text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
	background-color: #ccc; /* Dark grey background on mouse-over */
	text-decoration: none; /* Remove underline from links */
}

.vertical-menu a.active {
	background-color: #4CAF50;
	/* Add a green color to the "active/current" link */
	color: white;
}