<meta charset="utf-8">
<title>Perla Agriculture</title>

<link rel="stylesheet" type="text/css"
	href="/css/cssefd4.css?files=screen.cssp;lemken.cssp;print.cssp" />
<link rel="stylesheet" type="text/css" href="/css/style.css" />

<link href="http://fonts.googleapis.com/css?family=Open+Sans:600,700"
	rel="stylesheet" type="text/css">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css" />

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/css/cards-gallery.css">