<div id="wrapHead">
	<h1>
		<a href="/accueil"></a>
	</h1>
	<ul id="social">
		<li class="youtube"><a href="" title="Visitez nous sur youtube"
			target="_blank">Youtube</a></li>
		<li class="facebook"><a href="https://www.facebook.com/"
			title="Visitez nous sur facebook" target="_blank">Facebook</a></li>
	</ul>
	<div id="wrapTools">
		<div id="wrapSearch">
			<form action="" method="post" class="searchform"
				id="tx_rzautocomplete_pi1_form">
				<fieldset>
					<input name="" class="sword" type="text" value="CHERCHER..." /> <input
						name="tx_indexedsearch[submit_button]" type="submit"
						value="Submit" class="submit" />
				</fieldset>
			</form>
		</div>
		<ul id="navAdd">
			<li><a href="/aFaire" title="Connexion">Connexion</a></li>
			<li class="language sub">Langage
				<ul>
					<li><a href="/aFaire">عربية<img src="/images/arabe.png"
							width="20px" height="15px"></a></li>
					<li><a href="/aFaire"><img src="/images/francais.jpg"
							width="20px" height="15px">Francais</a></li>
				</ul>
			</li>
		</ul>
	</div>

	<ul id="navMain" class="clearfix">

		<li><a href="/accueil">Accueil</a></li>
		<li><a href="/aFaire">Qui somme nous?</a></li>
		<li><a href="/services">Nos services</a></li>
		<li><a href="/contact">Contactez nous</a></li>
	</ul>

</div>