
<header>
	<div class="icon">
		<a href="/accueil"></a>
	</div>
	<ul id="social">
		<li class="youtube"><a href="" title="Visitez nous sur youtube">Youtube</a></li>
		<li class="facebook"><a href="https://www.facebook.com/"
			title="Visitez nous sur facebook">Facebook</a></li>
	</ul>
	<div class="search">
		<form action="">
			<input type="text" placeholder="CHERCHER..."> <input
				type="submit">
		</form>
	</div>
	<ul class="nav">
		<li><a href="/aFaire" title="Connexion">Connexion</a></li>
		<li class="language sub">Langage
			<ul>
				<li><a href="/aFaire">عربية<img src="/images/arabe.png"
						width="20px" height="15px"></a></li>
				<li><a href="/aFaire"><img src="/images/francais.jpg"
						width="20px" height="15px">Francais</a></li>
			</ul>
		</li>
	</ul>

	<div id="menu">
		<ul>
			<li><a href="/accueil">Accueil</a></li>
			<li><a href="/aFaire">Qui somme nous?</a></li>
			<li><a href="/services">Nos services</a></li>
			<li><a href="/contact">Contactez nous</a></li>
		</ul>
	</div>
</header>
